
<br>


<h2> Comments </h2>
<ul>
  {{#each post.comments as |comment|}}
    {{comment-tile comment=comment destroyComment="destroyComment"}}
  {{/each}}
</ul>

<button class="btn btn-danger"{{action 'delete' post}}>Delete Post</button>
<br>
