<h2>This is our camping blog.</h2>

<p>This camping blog was create in 2017 to allow users to post all kinds of interesting posts about camping, hiking, outdoors and other fun activities.  Please feel free to stop by sometime and make a post or two about your outdoor experiences!</p>
