<div class="jumbotron">
  <h1>
  Camping Rocks || <em>Ember Blows</em>
  </h1>
</div>

  <nav class="navbar navbar-default" >
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Camping Blog</a>
      </div>
      <ul class="nav navbar-nav">
        <li>{{#link-to 'index'}}
          Home
        {{/link-to}}</li>
        <li>{{#link-to 'about'}}
          About
        {{/link-to}}</li>
        <li>{{#link-to 'contact'}}
          Contact
        {{/link-to}}</li>
      </ul>
    </div>
  </nav>
<div class="splash">


</div>
<div class="row">
  <div class="col-sm-8">
    <article class="body">
      {{outlet}}
    </article>

  </div>
  <div class="col-sm-4">
    <article class="body">
      <h3>Why Ember Blows</h3>
      <ul>
        <li>"Ember is the worst" - Nick Coney: NY Times</li>
        <li>"There is not one good thing about Ember" - Patrick Lewis: Tech Crunch</li>
        <li>"I would rather get punched in the face, than use ember" - Tom Brady: New England Patriots</li>
        <li>"Ember watches you through your webcams" - Edward Snowden</li>
        <li>"Ember helped me manage my accounts" - Bernard Madoff</li>

      </ul>
    </article>
  </div>
</div>

  <!-- <div id="sidebar">This is a navigation menu</div>
  <nav>
      <section id="widget_1">This</section>
      <section id="widget_2">Is</section>
      <section id="widget_3">A Sidebar Test</section>
  </nav> -->



  <footer class="navbar-default">
      <div class="containerp-fluid">
        <h3>Check us out on Github</h3>
        <a href="https://github.com/jamesmilanhiggins" target="blank"><img class="github" src="https://www.iconfinder.com/data/icons/iconsimple-logotypes/512/github-256.png"/>James'</a>
        <a href="https://github.com/kenr16" target="blank"><img class="github" src="https://www.iconfinder.com/data/icons/iconsimple-logotypes/512/github-256.png"/>Ken's</a>
      </div>
    </footer>
